[Unit]
Description=Spotify Autoplay Racer (Poetry)
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=/home/hornet/Desktop/repos/spotify-alarm
ExecStart=/usr/bin/poetry run python3 src/main.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PATH=%h/.local/bin:/usr/bin:/bin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=spotify-autoplay

[Install]
WantedBy=spotify-autoplay.timer
